_site
.sass-cache
.jekyll-metadata
*.sublime-project
*.sublime-workspace
.DS_Store

# Intelij idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf