---
layout: default
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="{{ post.title }}" target="_blank">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.content | remove: '<p>' | remove: '</p>' }}</p>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
