.bw {
  filter: brightness(1.5) grayscale(100%);
}

// fonts

// * {
//   font-smooth: never;
//   -webkit-font-smoothing : none;
// }

ul.task-list {
  margin: 0px;
}
li.task-list-item {
  list-style-type: none;
}
input.task-list-item-checkbox {
  margin: 10px;
}
