<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>

  <script>
    let config = {
      startOnLoad:true,
      theme: 'neutral'
      // flowchart:{
      //   useMaxWidth: false,
      //   htmlLabels: true
      // }
    };
    mermaid.initialize(config);
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
</html>
