---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}

<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "BlogPosting",
 "headline": "{{ page.title }}",
 {% if categories %}"genre": "{{ categories | join: ' ' }}",
 {% endif %}{% if tags %}"keywords": "{{ tags | join: ' ' }}",
 {% endif %}{% if content %}"wordcount": "{{ content | number_of_words }}",
 {% endif %}"publisher": "{{site.title}}",
 "mainEntityOfPage": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
 "publisher": {
   "@type": "Organization",
   "name": "{{site.title}}",
  "logo":{
    "@type":"ImageObject",
    "url": "{{ site.url }}{{ site.baseurl }}/images/favicons/favicon-194x194.png"
  }
 },
 "datePublished": "{{ page.date }}",
 "description": "{{ page.excerpt }}",
   "author": {
    "@type": "Person",
    "name": "{{site.author.name}}"{% if site.author.image %}
	,"image": "{{site.author.image}}"{% endif %}
  }
 }
</script>
